h1 {
	color: #cad3f5;
	font-family: "American Typewriter";
	text-transform: uppercase;
	margin-bottom: unset;
}
h2 {
	colour: #cad3f5;
	font-family: "American Typewriter";
	font-size: 20px;
	margin-top: unset;
}
h4 {
	border-radius: 0px;
	padding: 20px;
	font-size: 18px;
	font-family: "Academy Engraved LET";
	text-align: center;
}
body {
	text-align: left;
	background: #24273a;
	color: #cad3f5;
}
p {
	border-radius: 20px;
	padding: 15px;
	background: rgba(147, 154, 183, 0.2);
	font-size: 18px;
	font-family: "Academy Engraved LET";
}
a {
	color: #8aadf4;
	font-family: "American Typewriter";
}
.row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	background: rgba(147, 154, 183, 0.2);
	border:black;
	border-width: thick;
	border-style: hidden;
	padding: 5px;
}
.column {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border: black 5px;
	border-width: thick;
	border-style: groove;
	padding: 5px;
}
img{
    object-fit: contain;
    width: 80%;
}
div#title {
    border-style: hidden;
}
footer{
	text-align: center;
	position: relative;
	left: 2%;
	right: 2%;
	bottom: 5px;
	padding: 20px;
	border-radius: 20px;
	background: rgba(147, 154, 183, 0.3);
	text-transform: lowercase;
}
