h1 {
	color: #cad3f5;
	font-family: "American Typewriter";
	text-transform: uppercase;
	margin-bottom: unset;
	font-size: 36px;
}
h2 {
	color: #cad3f5;
	font-family: "American Typewriter";
	font-size: 18px;
	margin-top: unset;
}
h4 {
	border-radius: 0px;
	border-bottom: 0;
	padding: 20px;
	font-size: 20px;
	font-family: "Papyrus";
	text-align: center;
	margin: auto;
}
body {
	text-align: left;
	background: #24273a;
	color: #cad3f5;
}
p {
	padding: 15px;
	font-size: 18px;
	font-family: "Papyrus";
	margin: auto;
}
a {
	color: #8aadf4;
	font-family: "American Typewriter";
}
.row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	border:black;
	border-width: thick;
	border-style: hidden;
	padding: 5px;
}
.column {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border: #6e738d 5px;
	border-width: thick;
	border-style: double;
	border-radius: 10px;
	background: rgba(147, 154, 183, 0.2);
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
img{
	object-fit: contain;
	display: block;
	margin: auto;
	width: 80%;
}
div#title {
	border-style: hidden;
}
footer{
	text-align: center;
	position: fixed;
	left: 2%;
	right: 2%;
	bottom: 5px;
	padding: 20px;
	border-radius: 20px;
	background: rgba(147, 154, 183, 0.3);
	text-transform: lowercase;
}
